<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>自动化运维</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="{% static 'maintenance/bootstrap3.3.7/css/bootstrap.min.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 导入Jquery文件-->
    <script src="{% static 'maintenance/js/jquery-3.2.1.min.js' %}"></script>
    <script></script>
    <!--导入bootstrap中的js 插件-->
    <script src="{% static 'maintenance/bootstrap3.3.7/js/bootstrap.min.js' %}"></script>
    <!--导入自己的js文件-->
    <script src="{% static 'maintenance/js/show_workpage.js' %}"></script>

</head>
<body>
<header id="header">
    <div class="page-header" style="text-align:center">
        <h1>AUTO OPERATION
            <small>自动化运维平台</small>
        </h1>
    </div>
</header>
<aside id="left-panel" style="position: absolute;top: 100px;left: 0;z-index: 904;">
    <nav>
        <ul class="nav nav-pills nav-stacked">
            <li id="home" role="presentation" class="active"><a href="javascript:void(0)">主页</a></li>
            <li id="toms" role="presentation"><a href="javascript:void(0)">Tomcat 机器清单</a></li>
            <li id="oras" role="presentation"><a href="javascript:void(0)">Oracle 机器清单</a></li>
            <li id="mysqls" role="presentation"><a href="javascript:void(0)">MySql 机器清单</a></li>
        </ul>
    </nav>
</aside>
<div id="workpage"></div>
<div class="page-footer"></div>
</body>
</html>

